body {
  font-family: sans-serif;
  background-color: white;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

ul {
  list-style-type: none;
}

#bigTitle {
  display: inline;
  text-align: center;
}

#navbar {
  display: flex;
 justify-content: center;
}

#navkids{
display: flex;
align-items: center
}

.cartStuff{
  font-size: 1em;
  font-style: bold;
}

#order {
  width: 50%;
  margin-right: 25%;
  margin-left: 25%;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.orderItem {
  flex-grow: 1;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 1.3em;
}

#order-prod-info {
  font-size: 1.2em;
}
/* #title {
  display:flex;
  align-items: center;
} */

/*Resize the wrap to see the search bar change!*/
.wrap{

  position: absolute;
  left: 85%;

}
#checkout {
  position: absolute;
  left: 68%;
  margin-bottom: 25px;
}

#removeFromCart{
  position: absolute;
  left: 88%;
}
/* .ui.card{
  width: 350px;
  height: 10%;
}
.ui.card.image{
  width: 10%;
  height: 10%;
}

.products{
  display: flex;
  flex-wrap: wrap;
} */
