body {
  font-family: sans-serif;
  background-color: lightblue
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

ul {
  list-style-type: none;
}

#bigTitle {
  display: inline;
  text-align: center;
}

#navbar {
  display: flex;
 justify-content: center;
}

#navkids{
display: flex;
align-items: center
}

.cartStuff{
  font-size: 1em;
  font-style: bold;
}

